@model IEnumerable<TheGuestBook.Models.Message>

@{
    ViewData["Title"] = "Messages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Messages</h2>
<div>
    @foreach (var item in Model)
    {
        <div class="flexbox-row">
            <div class="flexbox-column margin-right-large">
                <h4>
                    @Html.DisplayFor(modelItem => item.Title)
                </h4>
                <span>
                    @Html.DisplayFor(modelItem => item.MessageBody)
                </span>
                <i class="small">
                    @Html.DisplayFor(modelItem => item.Author)
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </i>
            </div>
            <div class="flexbox-column text-right">
                <div class="flexbox-row like-element" id=@string.Format("LikeElement" + item.Id)>
                    <span>
                        @if (User.Identity.Name != item.Author)
                        {
                            <button class="like-button" type="button" onclick="addOneLike(@item.Id)">
                                <img height="20" src="~/images/happy.png" />
                            </button>
                        }
                        else
                        {
                            <button class="like-button like-button-disabled" type="button" tabindex="-1">
                                <img height="20" src="~/images/happy.png" />
                            </button>
                        }
                    </span>
                    <span class="number-of-likes">
                        @Html.DisplayFor(modelItem => item.NumberOfLikes)
                    </span>
                </div>
                <div class="flexbox-column small">
                    @if (User.Identity.Name == item.Author)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </div>
            </div>
        </div>
        <hr>
    }
</div>

<a class="add-button" asp-action="Create">
    <span>
        Add
    </span>
</a>
